body{
    /* background-color: wheat; */
    text-align: center;
 } 

h1{
    text-decoration: solid underline;
    text-transform: uppercase;
    color: red;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color : #8B4513;
    line-height: 30px;
}

a{
    color: rgb(0, 255 , 0);
    text-decoration: none;
}

button{
    background-color: rgb(255,255,255);
    color: blueviolet;
}

textarea{
    color: black;
}

span{
    text-decoration: double underline;
}