<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
</head>
<body>
    <h1>This page belongs to @<%= data.name  %> </h1>
    <button>Follow</button>
    <button>Message</button>
    <p>Followers : <%= data.followers %> &nbsp; &nbsp; Following : <%= data.following %> </p>
    <h2>Accounts that follow you :</h2>
    <hr/>
    <% for(name of followers){ %>
        <li> <%= name %> </li>
    <% } %>
</body>
</html>