<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%= successMsg %> <!-- tEMPORARILY EK BAAR KE LIYE HI DISPLAY HOGA. REFRESH KRNE PR KUCH NHI HOGA.-->
    <%= errorMsg %> <!-- tEMPORARILY EK BAAR KE LIYE HI DISPLAY HOGA. REFRESH KRNE PR KUCH NHI HOGA.-->
    <h1>Hello <%= name %> , How Are You </h1>
</body>
</html>