<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write New Chat</title>
    <link rel="stylesheet" href="/new.css">
</head>
<body>
    <h2 id="chat-heading">Write Your Chat</h2>
    <form id="chat-form" action="/chats" method="post">
        <input type="text" id="sender" class="chat-input" name="from" placeholder="Who are you?">
        <br>
        <textarea id="message" class="chat-textarea" name="msg" placeholder="Write your message here..."></textarea>
        <br>
        <input type="text" id="receiver" class="chat-input" name="to" placeholder="Add receiver">
        <br>
        <button id="submit-btn">Create Chat</button>
    </form>
</body> 
</html>
