<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>write New Chat</title>
</head>
<body>
    <h2>write your chat</h2>
    <form action="/chats" method="post">
        <input type="text" placeholder="Who are your" name="from"> <!-- name me jo bhi likege wo backened me work dega.-->
        <br>
        <textarea name="msg" >Write your Msg here..</textarea>
        <br>
        <input type="text" placeholder="Add receiver" name="to"> <!-- name me jo bhi likege wo backened me work dega.-->
        <br>
        <button>
            Create Chat
        </button>
    </form>
</body> 
</html> 