*{
    margin: 0px;
    padding: 0px;
}

.btn-container{
    display : flex;
    justify-content: center;
}

.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    background-color: green;
    margin: 2.5rem;
}

body{
    text-align: center;
}

#red{
    background-color: #819ff9;
}
#yellow{
    background-color: #d95980;
}
#purple{
    background-color: #f99b45;
}
#green{
    background-color: #63aac0;
}

/* .gameFlash{
    background-color: yellow !important;
} */

#red.gameFlash, #yellow.gameFlash, #purple.gameFlash, #green.gameFlash {
    background-color: yellow !important;
}

#red.userFlash, #yellow.userFlash, #purple.userFlash, #green.userFlash {
    background-color: green;
}