body{
    font-family: "Plus Jakarta Sans", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex : 1;
}
/* Navbar */
.navbar{
    height: 5rem;
    background: white;
}

.fa-compass{
    color : #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
}

/* Footer  */
.f-info-links a{
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-links , .f-info-socials , .f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
}


.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 2rem;
}

.f-info{
    text-align: center;
    height: 8rem ;
    /* font-size: 20px; */
    background-color: #ebebeb;
    display: flex;
    justify-content: center;
    align-items: space-evenly;
    flex-wrap: wrap;
}

/* Cards */
.card{
    border: none !important; /* agar important nhi bhi likhenge tab bhi chl jayega , kyuki humne style.css ko bootstarap ke baadd include kiya hi*/
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}

/* google fonts - 7:34 , card text p ki jagah card text rhega. */
.card-text { 
    font-weight: 400;
}

.listing-link{
    text-decoration: none;
}

/* Card-Effect / Overlay-Effect 
    iss efect ki help se hum kisi chheez ko , like kisi text ko kisi image ke upar show krna ho.
    
    BS -> .card-img-overlay 

    hum iski help se hum clickable effect lana chah rhe hi.
*/
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

/* New Page */
.add-btn{
    background-color: #fe424d;
    border: none;
}

/* Edit Page */
.edit-btn{
    background-color: #fe424d;
    border: none;
}

/* Show page  */
.show-img{
    height: 30vh;
}

.btns{
    display: flex;
}

.show-card{
   padding-left: 0; 
   padding-right: 0;
}